.img-circle{
   width: 4rem;
   height: 4rem;
}
.msg{
    letter-spacing: 1px;
    overflow: hidden;
}
.spinner{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 3rem;
    width: 3rem;
    color: rgb(12, 156, 204);;
}