<ion-header>
  <ion-toolbar>
    <ion-item class="toolbar-color">
      <ion-avatar slot="start" class="top-profile">
        <img [src]="person.photoURL" />
      </ion-avatar>
      <ion-label color="light">
        <h1 class="font-weight-bolder">{{person["displayName"]}}</h1>
        <h2 style="letter-spacing: 2px;" class="font-weight-bolder">{{status}}</h2>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let e of messages" class="mb-3 mt-2 d-flex "
    [ngStyle]="{flexDirection: (e.email==person.email)?'row-reverse':''}">
    <img alt="Profile" [src]="e.photoURL" class="profile ml-1 mr-1" />
    <div class="h-auto rounded ml-1 mr-1 msg h-auto"
      [ngStyle]="{background:(e.email==person.email)?'#44308c':'#79614d'}">
      <div class="px-2 pt-1 text-white h6 d-block h-auto">{{e.msg}}</div>
      <div class="d-block px-2 date text-white">{{convertDate(e.date)}}</div>
    </div>
  </div>

  <div #view style="height: 5rem;"></div>

  <ion-footer class="footer">
    <ion-item>
      <ion-textarea (ionChange)="textChange()" placeholder="Type your message" autoGrow="true" #input>
      </ion-textarea>
      <button slot="end" class="btn btn-primary btn-send" (click)="sendMessage(input)">
        <ion-icon name="send" color="light" class="icon"></ion-icon>
      </button>
    </ion-item>
  </ion-footer>
</ion-content>