<ion-content [fullscreen]="true" class="content">
  <div class="text-center mt-5 h1 text-white">
    About Us
  </div>
  <div class="lead text-white mx-5 mt-5 text-justify">
    E-Shop is online market that helps it users to sell, purchase and recycle thier products worldwide.
    <p>Our Users can sell and purchase from home. Sellers on E-Shop must upload their current location which helps other
      people to contact and purchase from nearby location.
    </p>
    We are working hard to bring comfort for our users and supports easy trading.
  </div>
</ion-content>