.my-container {
    background-color: var(--ion-color-primary) !important;
}

#group {
    background-color: var(--ion-color-primary) !important;
}
.w-35 {
    width: 35%;
}
.fabutton {
    margin-top: -90%;
}
.input {
    margin-bottom: -10px;
}
.menu-avatar {
    width: 8rem !important;
    height: 8rem !important;
}
