.color {
    color: #6a6762;
}
.select::part(icon) {
    color: #ffffff;
}
.select::part(text) {
    color: #545ca7;
}
.ok {
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}
.inp-width{
    width: 8rem;

}
