<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="places" animated inputmode="email" type="text" (ionChange)="onSearchChange($event)"
    [debounce]="250" showCancelButton="always"></ion-searchbar>
  <ion-list>
    <ion-item button [disabled]="!address" lines="full" class="mt-1" (click)="gotData(address)">
      <ion-icon slot="start" name="location" size="large"></ion-icon>
      <ion-label><h5>Use Current Location</h5> <p>{{address}}</p></ion-label>
    </ion-item>
    <ion-item *ngFor="let place of places" button (click)="gotData(place.description)">
      <ion-label>{{place.description}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>