.my-border{
    border: dotted 2px  var(--ion-color-medium);
    border-radius: 10px;
}
.icon-img{
    opacity: 0.4;
}
.item-row{
    margin-left:-17px
}
ion-img{
    margin:-10px;
    object-fit: cover;
}
.eye-button{
    left:100px
}

.mb-no{
    margin-bottom: -13px;
}
.preview{
    position: absolute ;
    top:10px;
    right:5px;
    display: none;
}
.my-container:hover ion-img{
    opacity: 0.4;
}

.my-container:hover .preview{
    display: block;
}






