<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-title color="light">Ad Details</ion-title>
    <ion-icon slot="end" color="light" class="mr-3 fav-icon" [hidden]="hideFav" [name]="fav_icon" (click)="Fav()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slides-top" pager="ios" #slides>
    <ion-slide *ngFor="let v of product.images" role="img" aria-label="Ad has been Removed"
      [style.backgroundImage]="'url('+v+') !important'" class="slide-img">
      <!--Size of bullet has been set at global.scss-->
    </ion-slide>
  </ion-slides>
  <ion-grid class="border-bottom border-top" fixed>
    <ion-row [hidden]="from !=='ads'">
      <ion-col color="light"
        class="border-right border-bottom border-top h3 text-dark d-flex align-items-center justify-content-center">
        {{product.likes}}
        <ion-icon size="large" name="heart"></ion-icon>
      </ion-col>
      <ion-col color="light"
        class="border-left border-bottom border-top h3 text-dark d-flex align-items-center justify-content-center">
        {{product.views}}
        <ion-icon size="large" name="eye"></ion-icon>
      </ion-col>
    </ion-row>
    <div class="d-inline">
      <span class="h4 text-dark mt-1">Details</span>
    </div>
    <div class="mt-2">
      <ion-row class="mt-2" *ngFor="let i of items()">
        <ion-col class="text-ml-2 h6 space-color" size="6" >
          {{i[0].toUpperCase()+i.slice(1)}}
        </ion-col>
        <ion-col size="6" class="h6 space-color" >
          {{forUserView[i]}}
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid class="border-bottom ml-1" fixed>
    <span class="d-block h5 text-dark">Description</span>
    <p class="mt line-height">
      {{userP.describe}}
    </p>
  </ion-grid>

  <ion-item lines="full" button>
    <ion-avatar class="profile-img" slot="start">
      <ion-img [src]="userP.image"></ion-img>
    </ion-avatar>
    <ion-label>
      <h1>{{parent['displayName']}}</h1>
    </ion-label>
  </ion-item>

  <div class="mt-2 mx-auto map mb-2 rounded border border-primary" id="map"></div>
  <div class="h-10"></div>
  <footer class="bottom z-index" id="footer">
    <ion-tab-bar class="tab-transparent tab-bar">

      <ion-tab-button class="tab-transparent" (click)="chat()">
        <ion-fab-button class="bg-whatsapp">
          <ion-icon size="large" color="light" name="chatbubble"></ion-icon>
        </ion-fab-button>
      </ion-tab-button>

      <ion-tab-button (click)="makeCall()" class="tab-transparent">
        <ion-fab-button class="bg-call">
          <ion-icon size="large" color="light" name="call"></ion-icon>
        </ion-fab-button>
      </ion-tab-button>

      <ion-tab-button (click)="sendSMS()" class="tab-transparent">
        <ion-fab-button class="bg-sms">
          <ion-icon size="large" color="light" name="chatbox"></ion-icon>
        </ion-fab-button>
      </ion-tab-button>

    </ion-tab-bar>
  </footer>
</ion-content>