ion-tab-bar {
  --background: rgb(12, 156, 204);
}
ion-tab-button {
  --ripple-color: var(--ion-color-light);
}
ion-toolbar {
  --background: rgb(12, 156, 204);
}
.menu-avatar {
  width: 8rem !important;
  height: 8rem !important;
}


