ion-tab-bar {
  --background: #5f00e7;
}
ion-tab-button {
  font-size: 16px;
  font-weight: bolder;
  
}
ion-toolbar {
  --background: var(--ion-color-info);
}
.menu-avatar {
  width: 8rem !important;
  height: 8rem !important;
}
